html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body,
input,
button {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

#root {
  background: #f5fcff;
  padding: 20px;
}
