html,
body,
#root {
  min-height: 100%;
}

body {
  background: #f5fcff;
  margin: 0;
  padding: 0;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  min-width: 400px;
}

body,
input,
button {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

button,
input[type='text'] {
  background: #fff;
  border-radius: 0;
  border: none;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  height: 40px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
}

button {
  width: 90px;
}

button[data-shape='square'] {
  width: 40px;
}

input[type='text'][data-shape='long'] {
  margin-top: 5px;
  width: 340px;
}

input[type='text'][data-shape='small'] {
  text-align: center;
  width: 90px;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  background: #eee;
}

input[type='text'] {
  padding-left: 20px;
  padding-right: 20px;
  width: 290px;
}

.checkbox {
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 45px;
  position: relative;
}

input[type='checkbox'] {
  display: none;
}

.checkbox-mark {
  background: #eee;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  height: 40px;
  position: absolute;
  width: 40px;
}

.checkbox input[type='checkbox']:checked ~ .checkbox-mark {
  background-color: #61dafb;
}

.checkbox-mark:after {
  display: none;
}

.checkbox input[type='checkbox']:checked ~ .checkbox-mark:after {
  content: '';
  display: block;
  position: absolute;
}

.checkbox .checkbox-mark:after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  height: 12.5px;
  left: 16px;
  top: 10px;
  transform: rotate(45deg);
  width: 5px;
}

button,
input[type='text'],
.checkbox-mark {
  opacity: 0.7;
}

button:hover:enabled,
input[type='text']:hover:enabled,
input[type='text']:focus:enabled,
.checkbox-mark:hover {
  opacity: 1;
}
